Repository CommonplaceRobotics/iRC_ROS, pull requests merged in 2023-04, with the labels that each got.

#54 Add list of available args and where to find info about them
  irc_ros_description/README.md
Labels: documentation, irc_ros_description

#53 HardwareInterface error for single module errors
  irc_ros_hardware/include/irc_ros_hardware/CAN/module.hpp
  irc_ros_hardware/src/CAN/joint.cpp
  irc_ros_hardware/src/CAN/module.cpp
  irc_ros_hardware/src/irc_ros_can.cpp
Labels: irc_ros_hardware, CPRCANv2

#63 limit platform namespace choices temporary
  irc_ros_bringup/launch/cpr_platform.launch.py
Labels: irc_ros_bringup

#59 Only start crpcan specific controllers when the protocol is selected
  irc_ros_bringup/launch/cpr_platform.launch.py
  irc_ros_bringup/launch/rebel.launch.py
  irc_ros_moveit_config/launch/rebel.launch.py
Labels: irc_ros_bringup

#64 Move additional controllers to seperate launch file
  irc_ros_bringup/launch/additional_controllers.launch.py
  irc_ros_bringup/launch/rebel.launch.py
  irc_ros_moveit_config/launch/rebel.launch.py
Labels: irc_ros_bringup, irc_ros_moveit_config

#65 Fix losing LaunchConfigurations with EventHandlers for top level launch files
  irc_ros_bringup/launch/cpr_platform.launch.py
  irc_ros_bringup/launch/rebel.launch.py
  irc_ros_bringup/launch/rebel_on_platform.launch.py
Labels: irc_ros_bringup

#62 Make yaml, srdf files generic via search and replace
  irc_ros_bringup/config/controller_cpr_platform_medium.yaml
  irc_ros_bringup/config/controller_cpr_platform_medium_namespace_1.yaml
  irc_ros_bringup/config/controller_dio_module.yaml
  irc_ros_bringup/config/controller_igus_rebel_4dof.yaml
  irc_ros_bringup/config/controller_igus_rebel_6dof.yaml
  irc_ros_bringup/config/controller_igus_rebel_6dof_namespace_1.yaml
  irc_ros_bringup/config/controller_igus_rebel_6dof_namespace_2.yaml
  irc_ros_bringup/config/controller_igus_robolink_rl_dp_5.yaml
  irc_ros_bringup/launch/cpr_platform.launch.py
  irc_ros_bringup/launch/rebel.launch.py
  irc_ros_bringup/launch/rebel_on_platform.launch.py
  irc_ros_bringup/launch/robolink_rl_dp_5.launch.py
  irc_ros_bringup/launch/sick_s300_2_two_scanners_merged.launch.py
  irc_ros_bringup/launch/two_rebels.launch.py
  irc_ros_bringup/package.xml
  irc_ros_bringup/params/sick_s300.yaml
  irc_ros_moveit_config/README.md
  irc_ros_moveit_config/config/controllers.yaml
  irc_ros_moveit_config/config/igus_rebel_6dof.srdf
  irc_ros_moveit_config/config/igus_rebel_6dof.srdf.xacro
  irc_ros_moveit_config/config/igus_rebel_6dof.urdf.xacro
  irc_ros_moveit_config/config/initial_positions.yaml
  irc_ros_moveit_config/config/joint_limits.yaml
  irc_ros_moveit_config/config/kinematics.yaml
  irc_ros_moveit_config/config/moveit_controllers.yaml
  irc_ros_moveit_config/config/pilz_cartesian_limits.yaml
  irc_ros_moveit_config/config/ros2_controllers.yaml
  irc_ros_moveit_config/launch/rebel.launch.py
  irc_ros_moveit_config/package.xml
  irc_ros_moveit_config/rviz/moveit.rviz
Labels: irc_ros_bringup, irc_ros_moveit_config, irc_ros_navigation2

#79 Send joint goals in degrees to hardware as specified in the protocol description
  irc_ros_hardware/include/irc_ros_hardware/irc_ros_cri.hpp
  irc_ros_hardware/src/irc_ros_cri.cpp
Labels: irc_ros_hardware, CRI

#81 Remove # characters from urdf comments
  irc_ros_description/urdf/robots/igus_rebel_6dof_00.description.xacro
  irc_ros_description/urdf/robots/igus_rebel_6dof_pre.description.xacro
Labels: irc_ros_description

#83 adds velocity state interface to the cri hardware interface.
  irc_ros_hardware/include/irc_ros_hardware/irc_ros_cri.hpp
  irc_ros_hardware/src/irc_ros_cri.cpp
Labels: irc_ros_hardware, CRI
